@keyframes sun {
	0% {
		bottom: 40%;
		animation-timing-function: ease-in;
	}
	100% {
		bottom: 70%;
		animation-timing-function: ease;
	}
}
.sun {
	background: #ffe34b;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 0 50px rgba(253, 239, 39, 0.9);
	position: absolute;
	left: 20%;
	bottom: 95%;
	z-index: -2;
	animation: sun 5s 0s linear alternate infinite;
}
